@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.montserrat-font {
    font-family: "Montserrat", sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

input[type="file"]::file-selector-button {
    @apply bg-blue-500 hover:bg-blue-700 hover:cursor-pointer dark:bg-green-400 dark:hover:bg-green-600 px-4 py-1 text-white rounded border-none;
}

.title {
    @apply text-[25px] ml-4 font-montserrat font-bold;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 46rem;
}
.subtitle {
    @apply text-[15px] m-4 font-montserrat;
}

.lineBreak {
    @apply w-[90%] h-0.5 mx-auto my-4 bg-gray-300 border-0 rounded dark:bg-gray-700;
}

.figureText {
    @apply text-[13px] mx-auto max-w-2xl bg-customBlue text-black p-4 font-montserrat shadow-md;
}

.figureTextCustom {
    @apply text-[13px] mx-auto max-w-2xl text-black p-4 font-montserrat shadow-md;
}

.lineBreakFigureText {
    @apply w-[45%] h-[0.1rem] mx-auto my-4 bg-black border-0 rounded;
}

.input-field {
    @apply block w-full px-4 py-2 mt-2 border border-gray-300 rounded-md bg-gray-100 text-lg;
}

.textarea-field {
    @apply block w-full px-4 py-2 mt-2 border border-gray-300 rounded-md bg-gray-100 text-lg resize-none h-36;
}

.submit-button {
    @apply px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-bleu hover:bg-bleu md:py-3 md:text-lg md:px-8;
}

.spinner {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
